<div class="new-releases">
    <h2 class="new-releases__title">New Releases</h2>
    <div #slider class="new-releases__new-releases-container" *ngIf="newReleases.length > 0">
        <img class="new-releases__slider-arrow--left" src="../../../assets/Left-Arrow.png" (click)="scrollLeft()">
        <app-single-new-release
        [newRelease]="newRelease"
            *ngFor="let newRelease of newReleases"
        ></app-single-new-release>
        <img class="new-releases__slider-arrow--right" src="../../../assets/Right-Arrow.png" (click)="scrollRight()">
    </div>
</div>
